/**
* @section Settings
*/
$siteWidth: 1170px;
$subHeaderHeight: 57px;
$siteMobileWidth: 640px;
$contentWidth: 770px;

$colorPrimary:   #e54241;
$colorSecondary: #222429;
$colorTextLight: #f5f6fa;
$colorTextDark:  #36383d;
$colorBorder:    #e1e1e1;
$colorMeta:      #b4b4b4;